/* Common Styles */
body {
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: beige;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
}

.homepage {
  display: flex;
  justify-content: center;
}

.text-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #bdb8b8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  justify-content: center;
  margin: 20px;
}

.button-normal {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin: 50px;
}

.box-owner {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* Owner.css */
.img-owner img {
  width: 500px; /* Adjust the width to your desired size */
  height: auto; /* This maintains the image's aspect ratio */
}

.table-user,
th,
tr,
td {
  border: 1px solid black;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.text-in-admin {
  display: flex;
}

.input-admin {
  display: flex;
  gap: 25px;
  margin: 20px;
}

.table-admin {
  display: flex;
  justify-content: center;
}
